html{
	margin:0;
	pdding:0;
}

body{
	font:90% calibri,sans-serif;
	text-align:center;
}

div #con{
	height:auto;
	width:700px;
	margin:0 auto;
	
}
 div #header
{
	background:#FF1694;
	
}
div #header h1{
	height:80px;
	line-height:80px;
	padding-left:10px;
	margin:0;
	text-align:left;
	
}

div #wrapper{
	float:right;
	width:1000px;
}
div #wrapper p{
	text-align:justify;
	line-height:1.5;
}
div #navi{
	float:left;
	height:500px;
	background:#FC94AF;
	width:300px;
	text-align:left;
}
div #navi ul{
	margin-left:10px;
	list-style-type:square;

	
}

div#navi li
{
margin-bottom:5px;
	

}

div #footer{
	
	clear:both;
	width:100%;
	background:#FF1694;
}
div #footer p
{
	margin:0;
	padding:5px 10px;
}
a{padding:5px;
text-decoration:none;
	color:black;
}
a:hover{
	color:red;
}
#head{
	
	text-align:center;
}
#center{
	height:auto;
	width:300px;
	margin-left:350px;
	text-align:left;
	
}
label,input,button,select,textarea{
	
	display:block;
	margin-bottom:5px;
	margin-top:5px;
}
input,select,textarea{
	width:100%;
}
.error{
	
	color:red;
	text-align:center;
}
.success
{
	color:green;
	text-align:center;
}
.record{
	list-style-type:square;
}
.record li{
	margin-top:15px;
	
	
}
table{
	width:100%;
	border-collapse: collapse;
	
}
table td,table th{
	border:1px solid pink;
	padding:5px;
	
}
strong
{
	color:red;
	padding:5px;
}
i{
	color:#FF1694;
	padding:5px;
}



